<table class="table">
  <thead>
    <th>Avatar</th>
    <th>Name</th>
    <th>Joined</th>
  </thead>

  <%= for user <- @users do %>
    <tbody>
      <th>
        <%= render(
          "avatar.html",
          avatar_url: user.avatar_url,
          link: user_path(@conn, :show, user),
          height: "20px")
        %>
      </th>

      <th><%= link(user.name, to: user_path(@conn, :show, user)) %></th>
      <th><%= datetime(user.updated_at) %></th>
    </tbody>
  <% end %>
</table>
