<%=
form_for @conn, list_path(@conn, :delete, @list),
[
  method: :delete,
  as: :delete_params,
  id: "list-delete-from",
  onsubmit: delete_confirmation(@list.name),
],
fn _ ->%>
  <button class="btn btn-primary">Delete</button>
<% end %>
