<table class="table">
  <thead>
    <th>Name</th>
    <th>Started</th>
  </thead>

  <%= for list <- @lists do %>
    <tbody>
      <th><%= link(list.name, to: list_path(@conn, :show, list)) %></th>
      <th><%= datetime(list.inserted_at) %></th>
    </tbody>
  <% end %>
</table>
