<h1>New List</h1>

<%=
  render(
    "form.html",
    conn: @conn,
    changeset: @changeset,
    submit_path: list_path(@conn, :create),
    submit_label: "Create!"
  )
%>

<%= link "Back to lists", to: list_path(@conn, :index) %>
